
.space-component {
  height: auto;
  min-height: 3rem;
  padding: 0 0 24px 0;
  overflow: visible;
}

.space-component1 {
  height: auto;
  min-height: 3rem;
  padding: 8px 0;
  overflow: visible;
}
