<nb-card class="card" accent="primary">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    </div>
    <div class="space space-component1 vcenter hcenter col-md-12 background-transparent">
      <h5 class="text-basic">Login</h5>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <app-sign-up-form1 class="col-md-12"></app-sign-up-form1>
  </nb-card-body>

  <!--<nb-card-footer class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <button nbButton size="medium" appearance="filled" status="success" fullWidth (click)="login();">
          Login
      </button>
    </div>
  </nb-card-footer> -->

</nb-card>
<!--<form [formGroup]="loginform" (ngSubmit)="login()">
  <div class="form-group col-lg-6 col-lg-offset-3 input-group">
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input formControlName="email" type="email" id="email" class="form-control">
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" class="form-control">
  </div>
  <button type="submit" [disabled]="!loginform.valid" class="btn btn-primary">Login</button>
  </div>
</form>-->



